---
const currentLocale = "es-AR";

const JOBS = [
  {
    endDate: new Date().toLocaleDateString(currentLocale),
    initDate: new Date("2022-01-02").toLocaleDateString(currentLocale),
    company: "Inventa",
    title: "Frontend Developer SWE1",
    country: "Brasil",
  },
  {
    initDate: new Date("2022-03-01").toLocaleDateString(currentLocale),
    endDate: new Date("2022-01-02").toLocaleDateString(currentLocale),
    company: "Cruce",
    title: "Frontend Developer",
    url: "https://www.e-cruce.com/",
    country: "Argentina",
  },
];
---

<ol class="timeline">
  {
    JOBS.map((job) => (
      <li class="timeline-item">
        <div class="timeline-marker" />
        <div class="timeline-panel">
          <div class="timeline-heading">
            <div>
              <h4 class="timeline-title">{job.title}</h4>
              <h5 class="timeline-title">{job.company}</h5>
            </div>
            <span class="timeline-date">
              {job.initDate} - {job.endDate}
            </span>
          </div>
          <div class="timeline-body">{job.country}</div>
        </div>
      </li>
    ))
  }
</ol>

<style>
  ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 420px;
    display: flex;
    flex-direction: column;
  }

  .timeline {
    position: relative;
  }

  .timeline-item {
    display: flex;
    position: relative;
    flex: 1 1 0%;
  }

  .timeline::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 2px;
    height: calc(100% - 1rem);
    background-color: var(--primary-500);
  }

  .timeline-marker {
    background-color: var(--primary-500);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
  }

  .timeline-panel {
    flex: 1;
  }

  .timeline-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .timeline-title {
    margin: 0;
  }
</style>
