---
import { Icon } from "astro-icon/components";
import "./TimeLine.css";
import Container from "../Container.astro";
import SectionHeader from "../SectionHeader.astro";

const currentLocale = Astro.request.headers.get("accept-language")?.split(",")[0] || "es-AR";

const formatDate = (date: Date) => {
  return date.toLocaleDateString(currentLocale, {
    month: "short",
    year: "numeric",
  });
};

const JOBS = [
  {
    endDate: formatDate(new Date()),
    initDate: formatDate(new Date("2022-02-22")),
    company: "Inventa",
    title: "Frontend Software Engineer",
    country: "Brasil",
    location: "SP",
    logo: "inventa",
    description:
      "Comencé ayudando en el desarrollo de un marketplace B2B, y luego tuve la oportunidad de liderar el frontend del backoffice de Order Management, donde gestionábamos el seguimiento de pedidos utilizando Next.js 12 y TypeScript.  Con el tiempo pasé de no saber una palabra de portugués a hablarlo diariamente con mis compañeros, contribuyendo de forma significativa en el lanzamiento de nuevas funcionalidades.",
    detailLink: "/experiencia/inventa",
    technologies: [
      "Next.js",
      "TypeScript",
      "React",
      "Jest",
      "Zod",
      "React Hook Form",
      "React Query",
      "React Testing Library",
      "Jest",
      "Zod",
      "React Hook Form",
      "Tanstack Query",
    ],
  },
  {
    initDate: formatDate(new Date("2021-04-05")),
    endDate: formatDate(new Date("2022-02-02")),
    company: "Cruce",
    title: "Frontend Developer",
    url: "https://www.e-cruce.com/",
    country: "Argentina",
    location: "Bs. As.",
    logo: "cruce",
    description:
      "Mi primer trabajo en IT, donde fui el encargado del desarrollo, soporte y evolución de tiendas B2C principalemente, utilizando la plataforma Vtex. Con el tiempo pude liderar varios proyectos en donde tuve una comunicación directa con el cliente.",
    detailLink: "/experiencia/cruce",
    technologies: ["React.js", "Redux", "CSS Modules", "Sass", "JS", "Vtex"],
  },
];
---

<Container>
  <SectionHeader title="Experiencia Laboral" icon="mdi:briefcase-variant-outline" />

  <ol class="timeline">
    {
      JOBS.map((job) => (
        <li class="timeline-item">
          <div class="timeline-marker" />
          <div class="timeline-panel">
            <div class="timeline-header">
              <Icon name={job.logo} class="company-logo" />
              <div>
                <h4 class="timeline-title">{job.title}</h4>
                <h5 class="timeline-company">{job.company}</h5>
              </div>
            </div>

            <div class="timeline-extra-info">
              <p>
                <Icon name="mdi:map-marker" />
                {job.country}, {job.location}
              </p>
              <p>
                <Icon name="mdi:calendar" />
                {job.initDate} - {job.endDate}
              </p>
            </div>

            <div class="timeline-description">
              <p>{job.description}</p>
              <a href={job.detailLink} class="timeline-know-more">
                Saber más <Icon name="mdi:arrow-right" />
              </a>
            </div>
          </div>
        </li>
      ))
    }
  </ol>

  <script>
    function checkVisibility() {
      const timelineItems = document.querySelectorAll(".timeline-item");
      timelineItems.forEach((item) => {
        const rect = item.getBoundingClientRect();
        const isVisible = rect.top <= window.innerHeight * 0.75;
        if (isVisible) {
          item.classList.add("visible");
        }
      });
    }

    window.addEventListener("load", checkVisibility);
    window.addEventListener("scroll", checkVisibility);
  </script>
</Container>
