---
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { ViewTransitions } from "astro:transitions";
import { experiences } from "@src/data/experiences";
import Container from "@src/components/Container.astro";

export function getStaticPaths() {
  return Object.keys(experiences).map((company) => ({ params: { company } }));
}

const currentLocale = Astro.request.headers.get("accept-language")?.split(",")[0] || "es-AR";

const formatDate = (date: Date) => {
  return date.toLocaleDateString(currentLocale, {
    month: "short",
    year: "numeric",
  });
};

const { company } = Astro.params;

const experienceData = experiences[company as keyof typeof experiences];

const initDate = formatDate(experienceData.initDate);
const endDate =
  experienceData.endDate === "now" ? "now" : formatDate(experienceData.endDate as Date);

const experience = {
  ...experienceData,
  initDate,
  endDate,
};
---

<Layout title={`Experiencia en ${experience.company} | Juanma Ibarzabal`}>
  <ViewTransitions />
  <main>
    <Container>
      <div class="experience-header">
        <div class="logo-container" transition:name={`logo-${experience.logo}`}>
          <Icon name={experience.logo} />
        </div>
        <div class="header-info">
          <h1 class="job-title" transition:name={`title-${experience.title}`}>
            {experience.title}
          </h1>
          <h2 class="company-name" transition:name={`company-${experience.company}`}>
            {experience.company}
          </h2>
        </div>
      </div>
      <div class="extra-info">
        <p class="location" transition:name={`location-${experience.company}`}>
          <Icon name="mdi:map-marker-outline" />
          {experience.location}
        </p>
        <p class="period" transition:name={`period-${experience.company}`}>
          <Icon name="mdi:calendar" />
          {experience.initDate} -{" "}
          <span id="end-date">
            {experience.endDate === "now" ? "Actualidad" : experience.endDate}
          </span>
        </p>
      </div>
      <div class="experience-content">
        <p class="description" set:html={experience.longDescription} />
        <h3>Responsabilidades:</h3>
        <ul>
          {experience.responsibilities.map((resp) => <li>{resp}</li>)}
        </ul>
        <h3>Logros:</h3>
        <ul>
          {experience.achievements.map((achievement) => <li>{achievement}</li>)}
        </ul>
        <h3>Tecnologías utilizadas:</h3>
        <div class="technologies">
          {experience.technologies.map((tech) => <span class="tech-tag">{tech}</span>)}
        </div>
      </div>
    </Container>
  </main>
</Layout>

<style define:vars={{ companyColor: `var(--${experience.color})` }}>
  .experience-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  .logo-container {
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: var(--companyColor);
  }

  .logo-container svg {
    width: 50px;
    height: 50px;
    color: #fff;
  }

  .header-info {
    flex-grow: 1;
  }

  .company-name {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--companyColor);
    margin-bottom: 0.5rem;
    font-weight: 600;
    margin: 0;
  }

  .job-title {
    color: var(--primary-800);
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin: 0;
    font-weight: 600;
  }

  .extra-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .period,
  .location {
    color: var(--primary-500);
    margin: 0;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }

  .period svg,
  .location svg {
    margin-right: 0.5rem;
  }

  .description {
    margin-bottom: 2rem;
    line-height: 1.6;
  }

  .description :global(b) {
    font-weight: 600;
    color: var(--companyColor);
  }

  h3 {
    font-size: 1.4rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--companyColor);
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
  }

  li {
    margin-bottom: 0.5rem;
  }

  .technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .tech-tag {
    background-color: var(--primary-200);
    color: var(--primary-800);
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    font-size: 0.9rem;
  }

  @media (min-width: 768px) {
    .experience-header {
      align-items: center;
    }

    .extra-info {
      flex-direction: row;
      gap: 1rem;
    }
  }
</style>
